<main class="site-main hfeed">
    <div class="ct-container">

        <section>
            <div class="entries">
                <article class="entry-card card-content" *ngFor="let movie of movies"
                (click)="movie.id && openMovie(movie.id)">
                    <div class="ct-media-container boundless-image">
                        <img class="attachment-medium_large size-medium_large wp-post-image" width="300" height="450"
                            [src]="movieService.getMovieImageUrl(movie.posterPath)" alt="" style="aspect-ratio: 9/14;">
                        <!-- <img class="attachment-medium_large size-medium_large wp-post-image" width="300" height="450"
                            [src]="'https://ajay-movies-backend.onrender.com' + movie.posterPath" alt="" style="aspect-ratio: 9/14;"> -->
                    </div>
                    <h2 class="entry-title">
                        <span>{{ movie.title }}</span>
                    </h2>
                </article>
            </div>
            <nav class="ct-pagination">
                <div class="pagination-grp">
                    <!-- First Page -->
                    <a *ngIf="currentPage > 0" (click)="goToPage(0)" class="page-numbers" style="cursor: pointer;">1</a>
                    
                    <!-- Dots before visible pages -->
                    <span *ngIf="currentPage > 2" class="page-numbers dots">...</span>
                    
                    <!-- Visible Pages -->
                    <ng-container *ngFor="let page of getVisiblePages()">
                        <span *ngIf="page === currentPage" class="page-numbers current">{{ page + 1 }}</span>
                        <a *ngIf="page !== currentPage" (click)="goToPage(page)" class="page-numbers" style="cursor: pointer;">{{ page + 1 }}</a>
                    </ng-container>
                    
                    <!-- Dots after visible pages -->
                    <span *ngIf="currentPage < totalPages - 3" class="page-numbers dots">...</span>
                    
                    <!-- Last Page -->
                    <a *ngIf="currentPage < totalPages - 1" (click)="goToPage(totalPages - 1)" class="page-numbers" style="cursor: pointer;">{{ totalPages }}</a>
                </div>
                <a *ngIf="currentPage < totalPages - 1" (click)="goToPage(currentPage + 1)" class="next page-numbers" style="cursor: pointer;">
                    Next
                    <i class="fa-solid fa-angle-right text-white"></i>
                </a>
            </nav>
        </section>
    </div>
</main>